
@media (max-aspect-ratio: 1/1) {
    h1 {
    	font-size: 8vw; line-height: 12vh;
    }

    h2 {
    	font-size: 5vw; line-height: 12vh;
    }

    .text-size-alpha {
    	font-size: 10vw; line-height: 12vh;
    }

    .text-size-beta {
    	font-size: 5vw; line-height: 12vh;
    }

    .text-size-gamma {
    	font-size: 3vw; line-height: 3.5vh;
    }
}
