@font-face {
	font-family: 'Open Sans';
	src: url('https://fonts.cdnfonts.com/s/14884/OpenSans-SemiBold.woff') format('woff');
}

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
	/*border: solid 1px green;*/
}

body {
	background-color: #000008; background-image: url('../image/bg2.png');
	background-size: 125%;
	background-position: center center; background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-size: 1rem;
	line-height: 1em;
	color: #CCCCCC;
	overflow-y: scroll;
	/*background: linear-gradient(180deg, black 80%, red);
	background-size: 4vh 4vh;*/
}

#canvas-halo {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
}

h1 {
	font-size: calc(3vw + 3vh);
	line-height: 1.2em;
	font-weight: bold;
	color: white;
}

h2 {
	font-size: calc(1.8vw + 1.8vh);
	line-height: 1.2em;
	font-weight: bold;
	color: #FF3333;
}

a {
	color: white;
}

table {
	font-size: inherit; line-height: inherit;
	color: #CCCCCC;
	margin: auto;
}
td, th {
	padding-left: 0.75vw; padding-right: 0.75vw;
}

hr {
	margin: auto; margin-top: 2vh; margin-bottom: 2vh;
	width: 80%;
}


#header {
	position: absolute;
	top: 4vh; height: calc(2.2 * (3vw + 3vh));
	left: 50%; margin-left: -40%; width: 80%;
	z-index: 10;
}

#container {
	position: absolute;
	top: calc(2.2 * (3vw + 3vh) + 8vh);
	left: 50%; margin-left: -40%; width: 80%;
	z-index: 10;
}

#twbtn_wrap {
	position: absolute;
	top: 84vh; height: 16vh;
    left: 50%; width: 80%; margin-left: -40%;
}

#twbtn {
	width: 80px; height: 24px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#year::after   { white-space: pre; content: '/'; }
#month::after  { white-space: pre; content: '/'; }
#day::after    { white-space: pre; content: ''; }
#hour::after   { white-space: pre; content: ':'; }
#minute::after { white-space: pre; content: ':'; }
#second::after { white-space: pre; content: ''; }
@media (max-aspect-ratio: 1/1) {
    #year::after  { font-size: 0.5em; content: '年\A'; }
    #month::after { font-size: 0.5em; content: '月\A'; }
    #day::after   { font-size: 0.5em; content: '日'; }
}

.text-outlined {
	color: #FF3333;
	text-shadow:
		-0.05vw -0.05vw rgba(255, 255, 255, 0.6),
		 0.05vw -0.05vw rgba(255, 255, 255, 0.6),
		-0.05vw  0.05vw rgba(255, 255, 255, 0.6),
		 0.05vw  0.05vw rgba(255, 255, 255, 0.6);
}
@media (max-width: 960px) {
	.text-outlined {
		text-shadow:
			-0.5px -0.5px rgba(255, 255, 255, 0.6),
			 0.5px -0.5px rgba(255, 255, 255, 0.6),
			-0.5px  0.5px rgba(255, 255, 255, 0.6),
			 0.5px  0.5px rgba(255, 255, 255, 0.6);
	}
}

.text-spaced {
	letter-spacing: 1em; margin-right: -1em;
}

.text-align-left {
	text-align: left;
}

.paragraph {
	margin: auto;
	width: 80%;
}

.disp-small {
    padding: 2vh;
    font-size: calc(1vw + 1vh);
    line-height: 1em;
}
.disp-normal {
    padding: 2vh;
    font-size: calc(1.8vw + 1.8vh);
    line-height: 1em;
}
.disp-large {
    padding: 2vh;
    font-size: calc(3.5vw + 3.5vh);
    line-height: 1em;
}
.disp-jumbo {
    padding: 2vh;
    font-size: calc(5vw + 5vh);
    line-height: 1em;
}
.number {
	font-family: "Open Sans";
}


.season {
	position: fixed; top: 0;
	width: 25%; z-index: 5;
}
.seasonimg {
	width: 100%;
}
.seasontop {
	display: block;
	position: fixed; top: 0;
	width: 25%; height: 100%;
	cursor: pointer;
	z-index: 11;
}

.particle {
	display: block; position: fixed;
	border-radius: 50%;
	background-color: white; color: transparent;
	box-shadow: 0 0 4px 1px white;
}
